/*
Theme Name:  Amay Wordpress Corporative Child Theme
Theme URI: http://www.zonapro.net
Author: Giorgiosaud
Author URI: http://www.giorgiosaud.com
Description: Zonapro Corporative theme For Amay
Version: 1.0
Template: zonaproCorpTheme
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: corp, zonapro, lacasona
Text Domain:  zonaproCorpTheme-child

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/
